.style1.fbg {
    display: grid;
    grid-template:
        "header header" auto
        "nav nav" auto
        "main aside" auto
        "footer footer" auto/ 1fr var(--sidebar-width);
}

.style1.fbg header {
    grid-area: header;
}
.style1.fbg nav {
    grid-area: nav;
}
.style1.fbg main {
    grid-area: main;
}
.style1.fbg aside {
    grid-area: aside;
}
.style1.fbg footer {
    grid-area: footer;
}
