:root {
    background-color: var(--color-background);
    height: 100%;
}

body {
    display: grid;
    max-width: 60em;
    min-height: 100%;
    margin-inline: auto;

    grid-template:
        "header header" min-content
        "nav related" min-content
        "news related" 1fr
        "footer footer" min-content
        / auto 20%;
}

/* HEADER */
body > header {
    grid-area: header;
    position: relative;

    display: grid;
    grid-template:
        "title signup" auto
        "subtitle signup" auto
        / auto calc((100% + 32px) / 5 - 32px);

    padding: 16px;
}

body > header > h1 {
    grid-area: title;
}

body > header > h2 {
    grid-area: subtitle;
}

#signup {
    display: flex;
    flex-direction: row;
    justify-content: center;

    min-width: 100%;

    grid-area: signup;
    align-self: end;
    justify-self: end;
}

/* NAVIGATION MENU */
nav {
    grid-area: nav;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav ul > * {
    flex: 1;
}

/* RELATED */
#related {
    grid-area: related;
}

/* NEWS */
#news {
    grid-area: news;
}

#news > article > img {
    width: 100%;
}

#news > article > header {
    position: absolute;
    width: 22ch;
    padding: 24px;
}

#news > article > footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
}

.author {
    flex: 1;
}

/* FOOTER */
body > footer {
    grid-area: footer;
}
